body {font-family: 'Open Sans', sans-serif; font-size:13px; color:#333333;}
h1{}
h2{}
/**
 * Nudge down to get to 13px equivalent for these form elements
 */ 
select,
input,
button,
textarea {
	font-family: 'Open Sans', sans-serif;
}

/**
 * To help tables remember to inherit
 */
table {}

/**
 * Bump up IE to get to 13px equivalent for these fixed-width elements
 */
pre,
code,
kbd,
samp,
tt {
	font-family: 'Open Sans', sans-serif;
	
}