.navbar-default {
	color: #fff;
	background-color: #FFFFFF;
	border-color: #CCCCCC;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.menu-large {
	position: static !important;
}
.megamenu {
	margin: 0px 7.8%;
	top: 78px;
	width: 93.5% !important;
	background: #E2601A;
	padding: 10px 0px;
	max-width: 1259px;
}
.megamenu> li > ul {
	padding: 0;
	margin: 0;
}
.megamenu> li > ul > li {
	list-style: none;
}
.megamenu> li > ul > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: normal;
}
.megamenu> li ul > li > a:hover, .megamenu> li ul > li > a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}
.megamenu.disabled > a, .megamenu.disabled > a:hover, .megamenu.disabled > a:focus {
	color: #999999;
}
.megamenu.disabled > a:hover, .megamenu.disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: not-allowed;
}
.megamenu.dropdown-header {
	color: #428bca;
	font-size: 18px;
}
@media (max-width:1930px) {
.megamenu {
	max-width: 1176px;
	margin: 0px 1%;
}

}
@media (max-width:1400px) {
.megamenu {
margin: 0px 2.3%;
	top: 78px;
	width: 93.5% !important;
	background: #E2601A;
	padding: 10px 0px;
	max-width: 1259px;
}
}
 @media (min-width:1500px) {
.megamenu {
	margin: 0 14.7% !important;
	width: 73%;
}
}

 @media (min-width:1800px) {
.megamenu {
	margin: 0 17.3% !important;
	width: 65%;
}
}
 @media (min-width:1280px) {
.megamenu {
	margin:0px 2.5%!important;
	width: 91.8% !important;
}
}
 @media (max-width:1024px) {
.megamenu {
	margin: 0 0% !important;
	padding: 20px 0;
	width: 100%!important;
}
}
 @media (min-width:1900px) {
.megamenu {
	margin: 0 16.5% !important;
	padding: 20px 0;
	width: 93.5% !important;
}}
 @media (max-width: 980px) {
.megamenu {width:100% !important}
}
 @media (max-width: 800px) {
.megamenu {width:100% !important}
}
 @media (max-width: 768px) { .megamenu{ width:100!important;}}
 @media (max-width: 768px) {
.megamenu {
	margin-left: 0;
	margin-right: 0;
}
.megamenu> li {
	margin-bottom: 30px;
}
.megamenu> li:last-child {
	margin-bottom: 0;
}
.megamenu.dropdown-header {
	padding: 3px 15px !important;
}
.navbar-nav .open .dropdown-menu .dropdown-header {
	color: #fff;
}
}

	
